data/formulareingaben.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD für Formulareingaben -->

<!ELEMENT formulareingaben (eingabe+)>
<!ATTLIST formulareingaben version CDATA #REQUIRED>

<!ELEMENT eingabe (nameM?, nameL?, ticker?, sektor?, investmentThese?, chance?, risiko?, upside?, buch1?, autor1?, warum1?, buch2?, autor2?, warum2?, buch3?, autor3?, warum3?, datum?)>

<!-- Eingaben Marco -->
<!ELEMENT nameM (#PCDATA)>
<!ELEMENT ticker (#PCDATA)>
<!ELEMENT sektor (#PCDATA)>
<!ELEMENT investmentThese (#PCDATA)>
<!ELEMENT chance (#PCDATA)>
<!ELEMENT risiko (#PCDATA)>
<!ELEMENT upside (#PCDATA)>

<!-- Eingaben Lara -->
<!ELEMENT nameL (#PCDATA)>
<!ELEMENT buch1 (#PCDATA)>
<!ELEMENT autor1 (#PCDATA)>
<!ELEMENT warum1 (#PCDATA)>
<!ELEMENT buch2 (#PCDATA)>
<!ELEMENT autor2 (#PCDATA)>
<!ELEMENT warum2 (#PCDATA)>
<!ELEMENT buch3 (#PCDATA)>
<!ELEMENT autor3 (#PCDATA)>
<!ELEMENT warum3 (#PCDATA)>

<!-- Gemeinsam -->
<!ELEMENT datum (#PCDATA)>

